/* @import "/home/gabriel/.config/colorfig/generated/colors.css"; */


* {
	border-radius: 0px;
    font-family: "Cozette";
	font-weight: bold;
    font-size: 25px;
}

window#waybar {
	border: none;
	background-color: alpha(@theme_base_color, 0.8);
	transition-property: background-color;
	box-shadow: none;
	transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip * {
	/* border-radius: 15px; */
	padding: 10px;
	/* background-color: @theme_base_color; */
	/* box-shadow: 0 4px 12px rgba(0,0,0,0.4); */
}

tooltip {
	border-radius: 15px;
	background-color: @theme_base_color;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),	0 2px 6px 2px rgba(0, 0, 0, 0.3);
	/* box-shadow: inset 0 4px 12px rgba(0,0,0,0.4); */

}

tooltip label {
    font-family: "Cozette";
    font-size: 25px;
	/* margin: 5px; */
	color: @theme_text_color;
}

#custom-temps.hot {
	color: @warning_color;
}

#custom-temps.veryhot {
	color: @error_color;
}

#music label,
#clocks label,
#stats label,
#util label,
#powerdrawer label,
#updates label{
	/*		 t  r  b   l*/
	padding: 3px 10px 0px 10px;
	/* margin: 4px 3px 4px 3px; */
}

#clocks,
#updates,
#util,
#music,
#stats,
#powerdrawer,
#trey {
/* #tray { */
	color: #dfdfdf;
	background-color: @theme_base_color;
	padding: 0 10px;
	margin: 4px 3px 4px 3px;
	border-radius: 12px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),	0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

#custom-gpud3cold {
  font-size: 28px;
}

/* #custom-gpud3cold label:hover { */
/*   font-size: 28px; */
/* } */

/* #clocks > *, */
/* #updates > *, */
/* #util > *, */
/* #music > *, */
/* #stats > *, */
/* #powerdrawer > *, */
/* #tray { */
/* 	padding: 0 10px; */
/* 	margin: 4px 3px 4px 3px; */
/* } */

#clocks label:hover,
#updates label:hover,
#util label:hover,
#music label:hover,
#stats label:hover,
#powerdrawer label:hover,
#trey label:hover {
/* #powerdrawer label:hover, */
/* #tray label:hover{ */
	font-size: 21px;
}

#workspaces button.active {
    padding: 0 5px;
    background-color: transparent;
    color: @theme_selected_bg_color;
}

#workspaces {
    /*padding: 0 5px;*/
	background-color: @theme_base_color;
	margin: 4px 3px 4px 3px;
	border-radius: 12px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),	0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

#workspaces button {
    padding: 0 5px;
	box-shadow: 0px 0px;
    background-color: transparent;
    /*color: @theme_text_color;*/
	color:#dfdfdf;
}

#workspaces button:hover {
	color: #a0a0a0;
	box-shadow: none;
	border: none;
}

#workspaces label {
	font-size: 25px;
	padding: 3px 3px 0px 3px;
}

#workspaces button.urgent {
    color: @warning_color;
}

#battery.warning {
	color: @warning_color;
}

#battery.critical {
	color: @error_color;
	box-shadow: inset 0 -1px @error_color;
}

#taskbar {
	margin: 4px 2px 4px 2px;
	background-color: @theme_base_color;
	border-radius: 15px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),	0 2px 6px 2px rgba(0, 0, 0, 0.3);
	min-width: 100px;
}

#taskbar button.active {
	background-color: black;
	border-radius: 12px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),	0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#window {
    margin: 0 4px;
}

.modules-left {
	margin-left: 4px;
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {*/
    /*margin-left: 0px;*/
/*}*/

/*[> If workspaces is the rightmost module, omit right margin <]*/
/*.modules-right > widget:last-child > #workspaces {*/
    /*margin-right: 0px;*/
/*}*/

/*@keyframes blink {*/
    /*to {*/
        /*background-color: #ffffff;*/
        /*color: #000000;*/
    /*}*/
/*}*/

/*label:focus {*/
    /*background-color: #000000;*/
/*}*/

/*.muted {*/
	/*font-size: 25px;*/
/*}*/
