//vim: filetype=rasi :
configuration {
	modi:					"run,drun,ssh";
	show-icons:				true;
	display-run:			"$ ";
	display-drun:			"Run: ";
	display-ssh:			"SSH: ";
	drun-display-format:	"{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	drun-display-format:	"{name}";
	drun-show-actions:		 false;
}

@import "binds.rasi"
@theme "launchpad.rasi"
