@import "/home/gabriel/.config/colorfig/generated/colors.css";
/*
 * vim: ft=less
 */

/*@define-color noti-border-color @theme_text_color;*/
@define-color noti-bg rgb(48, 48, 48);
@define-color noti-bg-darker rgb(38, 38, 38);
@define-color noti-bg-hover rgb(56, 56, 56);
@define-color noti-bg-focus @white;
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);

@define-color text-color rgb(255, 255, 255);
@define-color text-color-disabled rgb(150, 150, 150);

@define-color bg-selected rgb(0, 128, 255);

.notification-row {
	outline: none;
	border: none;
}

.notification-row:focus,
.notification-row:hover {
	background-color: transparent;
	/*border-radius: 12px;*/
	/*border: 2px solid white;*/
}

.notification {
	border-radius: 12px;
	margin: 6px 12px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),	0 2px 6px 2px rgba(0, 0, 0, 0.3);
	padding: 0;
}


/* Uncomment to enable specific urgency colors
.low {
	background: yellow;
	padding: 6px;
	border-radius: 15px;
}

.normal {
	background: green;
	padding: 6px;
	border-radius: 15px;
}

.critical {
	background: red;
	padding: 6px;
	border-radius: 15px;
}
*/

.notification-content {
	background: transparent;
	padding: 6px;
	border-radius: 12px;
}

/*progress bar*/

.notification-content>progressbar {
	color: @theme_base_color;
}
.notification-content>progressbar>trough>progress {
	background-color: @theme_text_color;
}

.close-button {
	background: @noti-close-bg;
	color: @theme_text_color;
	text-shadow: none;
	padding: 0;
	border-radius: 100%;
	margin-top: 10px;
	margin-right: 16px;
	box-shadow: none;
	border: none;
	min-width: 24px;
	min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @theme_base_color;
  /*background:transparent;*/
  /*border: 1px solid @noti-border-color;*/
  /*border: 1px solid @white;*/
  border: 0px;
  color: @theme_text_color;
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @noti-bg-hover;
}

.notification-default-action {
  border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @noti-border-color;
}

.inline-reply {
  margin-top: 8px;
}
.inline-reply-entry {
  background: @noti-bg-darker;
  color: @theme_text_color;
  caret-color: @theme_text_color;
  border: 1px solid @noti-border-color;
  border-radius: 15px;
}
.inline-reply-button {
  margin-left: 4px;
  background: @theme_base_color;
  border: 1px solid @noti-border-color;
  border-radius: 15px;
  color: @theme_text_color;
}
.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}
.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 15px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @theme_text_color;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @theme_text_color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @theme_text_color;
  text-shadow: none;
}

.control-center {
  /*background: @theme_base_color;*/
  background: alpha(@theme_base_color, 0.8);
  /*border-radius: 15px;*/
  /*padding-top: 20px;*/
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(black, 0.25);
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: @theme_text_color;
  text-shadow: none;
  background: @theme_base_color;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 15px;
}
.widget-title > button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 15px;
  background: @theme_base_color;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @bg-selected;
}
.widget-dnd > switch slider {
  background: @noti-bg-hover;
  border-radius: 15px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Buttons widget */
.widget-buttons-grid {
	padding: 5px;
	margin: 5px 10px 5px 10px;
	border-radius: 10px;
	background: transparent;
	font-family: "SF Mono", "Font Awesome 6 Free Solid", "JetBrainsMono NF";
	font-size: 25;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
	background-color: @noti-close-bg;
	border-radius: 15px;
	padding: 15px 32px 15px 32px;
	margin: 5px 10px 10px 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
	background-color: @theme_selected_bg_color;
}

/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
  all: unset;
  background: none;
  border: none;
  color: @theme_text_color;
  border-radius: 8px;
  padding: 5px;
}

.widget-menubar>box>.menu-button-bar>button:hover {
  all: unset;
  background: @theme_text_color;
  border: none;
  color: @theme_base_color;
  border-radius: 0px;
  padding: 5px;
}
.widget-menubar>box>.menu-button-bar>button>label {
font-size: 20px;
}
.widget-menubar>box>revealer>.settings>button {
  all: unset;
  background: @theme_base_color;
  border: none;
  color: @theme_text_color;
  border-radius: 0px;
  padding: 5px;
}

.widget-menubar>box>revealer>.settings>button:hover {
  all: unset;
  background: @theme_text_color;
  border: none;
  color: @theme_base_color;
  border-radius: 0px;
  padding: 5px;
}

/* .AnyName { Name defined in config after #
  background-color: @theme_base_color;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
}

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: @noti-bg-hover;
} */

.topbar-buttons>button { /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Volume widget */

.widget-volume {
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
  font-size: 50px;
}

.widget-volume>box>button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color: @noti-bg-alt;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 15px
}

/* Backlight widget */
.widget-backlight {
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
  font-size: 50px;
}

/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-inhibitors > button {
  font-size: initial;
  color: @theme_text_color;
  text-shadow: none;
  background: @theme_base_color;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 15px;
}
.widget-inhibitors > button:hover {
  background: @noti-bg-hover;
}
